@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --YELLOW: #FFB21E;
  --YELLO-95-WHITE:#f8efe2f7;
  --BLUE:#1125D6;
  --BLUE-95-WHITE:#edeffc;
  --GREEN:#00BB8F;
  --GREEN-95-WHITE:#e2fff2;
  --RED:#FF5555;
  --RED-95-WHITE:#ffeded;
  --DARKNAVY:#303B59;
  --LIGHTBLUE:#CAC9FF;
  --VERYLIGHTBLUE:#ECF2FF;
  --WHITE:#FFFFFF;


  /* GRADIENTS */
  --GRADIENT-1: linear-gradient(
    to bottom,
    #7755FF 0%,
    #6943FF 0%,
    #2F2CE9 100%
  );
  --GRADIENT-2: linear-gradient(
    to bottom,
    #4D21C9 0%,
    #2521C900 100%,
    #2521C900 100%
  );

  /* TYPOGRAPHY */
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;
  color: black;
}